<form action="/addMember/assignmember">
  <strong>Add task: </strong>
:user_id, :project_id
  <select name="member[user_id]" >
    <optgroup label="--select--">
    <% @memebers.each do |member| %>
      <option value="<%= member.id %>"><%= member.user_id %></option>
    <% end %>
    </optgroup>
  </select>
Project ID: </td><td><input type="text" value="<%= session[:current_project] %>" name="member[project_id]" readonly/>

  <input type="submit" value="Add members"/>
</form>

<hr/><hr/>

<h1>Listing Members</h1>

<table>
  <thead>
    <tr>
      <th>User Email:</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member.each do |task| %>
    <tr>
      <td style="border:1px green solid">
        <p>memebers name: <%= task.email %></p>

      </td>
<td>
<%= link_to("remove member", { :action => 'removeMember' ,:memberId => task.id,:id=>session[:current_project]}) %>
</td>
</tr>
    <% end %>
  </tbody>


</table>

<br>
<hr><hr>







