<p id="notice"><%= notice %></p>

<h1>Listing Members</h1>

<table>
  <thead>
    <tr>
      <th>User email:</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
  
       <td><%@u=User.where('id =?', member.user_id) %>
<%=@u.id%>
</td>
        <td><%= link_to 'Show', member %></td>
         <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to("add new members", { :action => 'addMembers' ,:taskId => 0,:id=>session[:current_project]}) %>
    
<%= link_to 'New Member', new_member_path %>
